h1{
    font-family: "totally-glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-top: 100px;
    font-size: 110px;
    text-shadow: 3px 3px goldenrod;
   
}
body{
    background-image: linear-gradient(green, lightgreen);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.easy{
    background-color: lightgreen;
    color:darkgreen ;
    border-radius: 25px;
    border: 2px solid goldenrod;
}

.medium{
    background-color: lightyellow; 
    color: goldenrod;
    border-radius: 25px;
    border: 2px solid darkgreen;
}

.hard{
    background-color: goldenrod; 
    color: lightgreen;
    border-radius: 25px;
    border: 2px solid darkgreen;
}


.difficulty-btn{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;

}

.startb{
    margin-top: 70px;
}

h3{
    margin-top: 50px;
}

main{
    border: 5px solid goldenrod;
    border-radius: 25px;
    padding: 70px;
    margin-right: 10px;
    box-shadow: 4px 4px black;
}